<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book-detail</title>
    <link rel="stylesheet" href="..static/css/style.css">
</head>
<body>
<div class="container">
    <h2>{{ book.title }}</h2>
    <div class="img">
        <img src="{{ book.image.url }}" alt="">
    </div>
    <p>Автор: {{ book.author }}</p>
    <span class="date">Дата добавление: {{ book.create_date }} |</span>
    <span class="date">Дата обновление: {{ book.update_date }}</span>
    <p>{{ book.description }}</p>
</div>
<div class="container">
    <h3>Review: </h3>
    <ul>
        {% for i in book.Book_feed_back.all %}
        <li>
            <p>{{ i.text }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>